<div class="container bg-light py-5">
  <h1 style="text-align: center" class="display-5 fw-bold">Tuckers Trivia </h1>
  <p style="text-align: center" class="col-md-10">Welcome to Tucker's Trivia. We have a few game modes and several quizzes for you to select from</p>
  <h4 >Created By:</h4>
  <ul>
      <li> Tucker...Backend functionality and Team Leader</li>
      <li> Mo..........Daily Question</li>
      <li> Lara........Questions</li>
      <li> Arrion....User and User Stats</li>
      <li> Austin....Webpage layout and design </li>
  </ul>
</div>
