<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold"> Hi {{username}} <br> Welcome to Tucker's Trivia Game!!! </h1>
    <p class="col-md-10">This game will contains some questions and many categories. Enjoy your game. Please send us
        your feedback to perform our game.</p>
    <h4>Rules:</h4>
    <ol>
        <li> Correct answers give you points based off the difficulty of the questions</li>
        <li> Points are timer based. The faster you answer, the MORE points you score</li>
        <li> Incorrect question gives you NO points</li>
        <li> You will have 30 secs to answer each question</li>
    </ol>
    <div class="form-group d-flex justify-content-evenly">
        <button class="btn btn-primary right" routerLink="/questions">
            Start game
        </button>

        <button class="btn btn-primary left" routerLink="/category">
            Select Category
        </button>
    </div>
</div>
